body {
    color: black;
    font-size: 1em;
    margin: 0px auto 0px auto;
    width: 50em;
}

/* Header *********************************************************************/

div#header {
    border-bottom: 1px dotted grey;
    margin-bottom: 1em;
    padding: 0.5em 0px 0.5em 0px;
}

div#header a {
    color: grey;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

div#header a:hover {
    color: black;
}

div#logo a {
    float: left;
}

div#feed {
    text-align: right;
}

img.icon {
    width: 1em;
    height: 1em;
    vertical-align: bottom;
    opacity: 0.5;
    margin: 0;
    padding: 0;
}

img.icon:hover {
    opacity: 1;
}

/* Footer *********************************************************************/

div#footer {
    border-top: 1px dotted black;
    color: #555;
    font-size: 0.8em;
    margin-top: 2em;
    padding: 0.6em 0px 0.8em 0px;
}

div#contact {
    float: left;
}

div#contact a {
    margin: 0 0 0 0.4em;
    padding: 0;
    font-size: 1.2em;
}

div#hakyll {
    text-align: right;
    padding-top: 0.2em;
}

/* Content ********************************************************************/

div.contents {
    margin-left: 2em;
    padding-left: 1em;
    border-left: 1px dotted black;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 1.4em;
}

div.info {
    color: grey;
    font-size: 0.8em;
    font-style: italic;
}

p {
    text-align: justify;
}

a:link {
    color:#5588aa;
    text-decoration: none;
}

a:visited {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}
