                <div class="info">$if(math)$
                    <a href="https://www.w3.org/Math/"><img id="mathml-img"
                      title="This post contains inlined MathML. For proper rendering, please use a standards compliant browser, like Firefox or Safari."
                      alt="MathML" src="/images/mathml.svg" /></a>$endif$
                    Posted on <time datetime="$date$">$dateLong$</time> $if(author)$by $author$ $endif$
                </div>$if(tags)$
                <div class="info">
                    Tags: $tags$
                </div>$endif$
